@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* 文章排版 */
.prose-markdown h1 {
    @apply text-3xl font-bold text-gray-900 mt-8 mb-4;
}

.prose-markdown h2 {
    @apply text-2xl font-semibold text-gray-800 mt-7 mb-3;
}

.prose-markdown h3 {
    @apply text-xl font-semibold text-gray-800 mt-6 mb-2;
}

.prose-markdown p {
    @apply text-gray-700 text-lg leading-8 mb-4;
}

.prose-markdown ul,
.prose-markdown ol {
    @apply ml-5 mb-4;
}

.prose-markdown ul {
    @apply list-disc;
}

.prose-markdown ol {
    @apply list-decimal;
}

.prose-markdown li {
    @apply leading-8 mb-2 text-gray-700;
}

.prose-markdown strong {
    @apply font-bold text-gray-900;
}

.prose-markdown a {
    @apply text-blue-600 no-underline  hover:text-blue-800 hover:underline visited:text-shadow-blue-800;
}

/* 行内代码 */
.prose-markdown code {
    @apply bg-gray-100 text-red-600 px-1.5 py-0.5 rounded text-sm font-mono;
}

/* 代码块 */
.prose-markdown pre {
    @apply bg-gray-900 p-4 rounded-lg my-6 overflow-x-auto;
}

.prose-markdown pre code {
    @apply bg-transparent p-0 rounded-none text-white;
}
